body {
    background-color: #f0f8ff;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.content-container {
    width: 31em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}

#selects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-row {
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

select {
    background-color: #d1ecf1;
    border: 2px solid black;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: 'Comic Sans MS';
    width: 80%;
    max-width: 400px;
    text-align: center;
    outline: none;
}

select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 15px auto;
}

#add-select-button {
    padding: 0.5em 1em !important;
}

.menu-button {
    background-color: #a6dcef;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 1em;
    font-size: 1.5em;
    font-family: 'Comic Sans MS';
    cursor: pointer;
    margin-top: 2em;
    box-sizing: border-box;
}

.menu-button:hover {
    background-color: #8ecae1;
}
