body {
    background-color: #f0f8ff;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
    padding: 2em 1em;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.menu-text {
    background-color: #a6dcef;
    border: 2px solid black;
    padding: 0.5em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
    width: 20em;
    box-sizing: border-box;
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 1.5em;
    margin-bottom: 2em;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
    border: 2px solid black;
    width: 35em; 
    table-layout: fixed; 
}

th {
    background-color: #a6dcef;
    text-transform: uppercase;
    letter-spacing: 1px;
}

th, td {
    border: 2px solid black;
    padding: 0.6em;
    text-align: center;
    word-wrap: break-word; 
}

.col-id {
    width: 15%; 
}

.col-name {
    width: 65%; 
    text-align: left; 
    padding-left: 1em; 
}

.col-issued {
    width: 20%;
}


tbody tr:nth-child(even) td {
    background-color: #eaf6fc;
}

tbody tr:nth-child(odd) td {
    background-color: #ffffff;
}

td input[type="checkbox"] {
    width: 1.5em; 
    height: 1.5em;
    cursor: pointer;
    vertical-align: middle; 
}
