body {
    background-color: #f0f8ff;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
    padding: 2em 1em;
    margin: 0;

    display: flex;
    flex-direction: column;    
    align-items: center;       
    gap: 2em;                  
}

.menu-text {
    background-color: #a6dcef;
    border: 2px solid black;
    padding: 0.5em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
    width: 20em;
    box-sizing: border-box;
    text-align: center;
}

.body-button {
    font-family: inherit; 
    background-color: #a6dcef;
    border: 3px solid black;
    border-radius: 60px; 
    color: black;
    font-size: 2em;
    padding: 0.5em 1em; 
    cursor: pointer;
    transition: transform 0.1s ease; 
    min-width: 8em; 
    box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
}

.body-button:hover {
    background-color: #76cbe8;
    transform: scale(1.02);
}

